@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto+Mono:wght@300;400&display=swap');

:root {

    /* COLORS */
    --clr-first-timer: #ef4a5a;
    --clr-second-timer: #7aecdb;
    --clr-third-timer: #5a6de6;

    --clr-background: #292a2d;
    --clr-secondary: #1b1c1d;
    --clr-title: #ffeeff;
    --clr-text: #abaeb3;
    --clr-accent: #ef4a5a;

    /* FONTS */
    --fnt-lato: 'Lato', sans-serif;
    --fnt-roboto: 'Roboto Mono', sans-serif;

    /* WEIGHT */
    --wgt-bold: 700;
    --wgt-medium: 400;
    --wgt-regular: 300;

}

/* GENERAL */

html, body {
    height: 100%;
    scroll-behavior: smooth;
    background-color: var(--clr-background);
    font-family: var(--fnt-lato);
    font-weight: var(--wgt-regular);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all .3s linear;
}

*::selection {
    background: none;
}

.desktop-hide {
    display: none;
}

.hide {
    display: none;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* RESET ALL INPUT */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

/* ================ PAGES ANIMATIONS ================ */

.pos-1 { transform: translateX(-200%) }
.pos-2 { transform: translateX(-100%) }
.pos-3 { transform: translateX(0) }
.pos-4 { transform: translateX(100%) }
.pos-5 { transform: translateX(200%) }

/* ================ MENU ================ */

.menu {
    position: absolute;
    bottom: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 20rem;
    height: 3rem;
    background-color: var(--clr-secondary);
    border-radius: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    z-index: 101;
}

.menu-btn {
    color: var(--clr-text);
    background: none;
    font-size: 1.8rem;
    border: none;
    background-color: var(--clr-secondary);
    border-radius: 10rem;
    width: 6rem;
    height: 90%;
}

.menu-btn:hover {
    color: var(--clr-title);
    cursor: pointer;
}

.menu-btn.active {
    color: var(--clr-secondary);
    background: var(--clr-text);
}

/* ================ FOCUS ================ */

/* MODALITA */
.mods {
    position: absolute;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);
    width: 25rem;
    height: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10rem;
}

.mod {
    color: var(--clr-text);
    background: none;
    font-size: 1rem;
    border: none;
    background-color: var(--clr-secondary);
    opacity: .8;
    border-radius: 10rem;
    width: 7.5rem;
    height: 100%;
    cursor: pointer;
}

.mod.active {
    color: var(--clr-secondary);
    opacity: 1;
}

.mod.active#focus { background: var(--clr-first-timer) }
.mod.active#short { background: var(--clr-second-timer) }
.mod.active#long { background: var(--clr-third-timer) }

/* TIMER */
.timer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 22rem;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--fnt-roboto);
    width: 13rem;
    height: 13rem;
    color: var(--clr-title);
    font-size: 2.5rem;
    letter-spacing: -2px;
    border-radius: 100%;
    border: solid 7px;
    border-color: var(--clr-first-timer);
}

.timer.focus { border-color: var(--clr-first-timer) }
.timer.short { border-color: var(--clr-second-timer) }
.timer.long { border-color: var(--clr-third-timer) }

/* CONTROLLI */
.control {
    position: absolute;
    top: 31rem;
    left: 50%;
    transform: translateX(-50%);
    width: 17rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.control-btn {
    text-align: center;
    border: none;
    border-radius: 10rem;
    color: var(--clr-text);
    background: none;
    scale: 120%;
    cursor: pointer;
}

#pause.active {
    color: var(--clr-title);
    transform: scale(110%);
}

.control-btn:hover {
    transform: scale(105%);
}

/* ================ SETTINGS ================ */

.cols {
    position: absolute;
    top: 4rem;
    left: 60%;
    transform: translateX(-50%);
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.col {
    width: 35rem;
    height: 70%;
}

.settings-title {
    font-family: var(--fnt-roboto);
    font-size: 2rem;
    color: var(--clr-title);
    padding: 1.5rem 0 10px;
    font-weight: var(--wgt-medium);
}

.settings-sets {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 1.3rem 0;
}

.settings-set {
    font-family: var(--fnt-lato);
    color: var(--clr-text);
    font-weight: var(--wgt-medium);
    font-size: 1.2rem;
}

.settings-check {
    width: 1rem;
    opacity: .7;
}

.settings-check:checked {
    transform: scale(105%);
    opacity: 1;
}

.settings-number {
    width: 12%;
    text-align: center;
    border: none;
    background: none;
    border-bottom: 2px solid var(--clr-text);
    color: var(--clr-title);
    font-family: var(--fnt-roboto);
    padding-bottom: 2px;
}

.settings-number:focus {
    outline: none;
}

.settings-color {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid var(--clr-title);
}

.settings-btn {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    line-height: 1rem;
    opacity: .9;
    display: flex;
    justify-content: space-between;
    width: 16rem;
}

.settings-btn > * {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    height: 2.5rem;
    border-radius: 10rem;
    font-weight: var(--wgt-bold);
    letter-spacing: 2px;
    width: 9rem;
}

.settings-save {
    background: var(--clr-accent);
    border: none;
    color: var(--clr-title);
}

.settings-default {
    width: 6rem;
    background: none;
    border: 2px solid var(--clr-accent);
    color: var(--clr-accent);
}

.settings-save:hover, .settings-default:hover {
    opacity: 1;
    transform: translateY(-1px);
    cursor: pointer;
}

/* ================ INFO ================ */

.info-imgs {
    position: absolute;
    top: 8rem;
    left: 50%;
    transform: translateX(-50%);
    width: 28%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
}

.info-logo {
    height: 4rem;
}


.info-texts {
    margin-top: 16rem;
}

.info-text {
    width: 50%;
    margin: 2.3rem 25%;
    text-align: center;
    color: var(--clr-text);
    font-size: 1.2rem;
    font-weight: var(--wgt-medium);
}

a {
    color: var(--clr-text);
    font-weight: var(--wgt-bold);
    text-decoration: underline;
    text-underline-offset: 3px;
}

/* ================ MOBILE MODE ================ */

.mobileMod {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    font-size: 2.5rem;
    background: none;
    border: none;
    color: var(--clr-accent);
    cursor: pointer;
    z-index: 102;
}
